logs
*.log
npm-debug.log*
pids
*.pid
*.seed
lib-cov
coverage
.nyc_output
.grunt
.lock-wscript
.idea/*
build
node_modules
jspm_packages
.npm
.node_repl_history
.idea/
.DS_Store
src/app/modules/**/*.js
src/app/modules/**/*.js.map
src/app/components/**/*.js
src/app/components/**/*.js.map
src/app/*.js
src/app/*.js.map
src/app/_services/*.js
src/app/_services/*.js.map